<footer>
    <div class="row mt-md-5 py-3 py-md-0 gy-3 gy-md-0 px-3 px-sm-0 justify-content-md-center justify-content-lg-evenly display-10 footer">
        <div class="col-md-12 justify-content-lg-center text-center bg-dark">&#169; HWS FCIT 2023</div>
    </div>
</footer>