<header>
    <div class="row gy-3 mt-1 gy-md-0 pt-2 pt-md-0 justify-content-evenly bg-dark header">
        <!-- <div class="col-md-2 col-lg-4 mt-2 text-start">Logo Here</div> -->
        <div class="col-md-2 col-lg-4 mt-2">
            <img style="width: 15%; height: 80%;" src="image/blood.png" alt="Logo">
        </div>
        <div class="col-md-3 col-lg-4 mt-lg-2 text-center">Blood Donation Management System</div>
        <div class="col-lg-4 text-end mx-auto mx-md-0 mt-lg-1 ms-auto">
            <button class="btn logout">Logout</button>
        </div>
    </div>
</header>